node_modules
.*
CFUserTextEncoding
DS_Store
config/
gitconfig
lesshst
local/
netrc
node_repl_history
npm
viminfo
vscode/
zsh_history
zsh_sessions/
Applications/
Desktop/.DS_Store
Desktop/.localized
Desktop/Captura de pantalla 2023-02-20 a la(s) 19.00.25.png
Desktop/clase1/
Desktop/mysql-8.0.31-macos12-x86_64.dmg
Documents/
Bownloads/
Final MELI/
Library/
MercadoL/.DS_Store
MercadoL/public/.DS_Store
MercadoL/views.zip
MercadoLiebre/
Movies/
Music/
Pictures/
Public/
dataMundoMascotas.sql
grupo_7_MundoMascotas/
html
index
mercadoAbierto/.DS_Store
mercadoAbierto/otraapp.js
proyectoAldo/
proyectoFinal/
repositorioProyectofinal/
servidor
MercadoL/app.js
MercadoL/package-lock.json
MercadoL/package.json
MercadoL/app.js
Trash/
../.CFUserTextEncoding
../.DS_Store
../.config/
../.gitconfig
../.gitignore
../.lesshst
../.local/
../.netrc
../.node_repl_history
../.npm/
../.viminfo
../.vscode/
../.zsh_history
../.zsh_sessions/
../Applications/
../Desktop/.DS_Store
../Desktop/.localized
../Desktop/Captura de pantalla 2023-02-20 a la(s) 19.00.25.png
../Desktop/clase1/
../Desktop/mysql-8.0.31-macos12-x86_64.dmg
../Documents/
../Downloads/
../Final MELI/
../Library/
../MercadoL/.DS_Store
../MercadoL/public/.DS_Store
../MercadoL/views.zip
../MercadoLiebre/
../Movies/
../Music/
../Pictures/
../Public/
../dataMundoMascotas.sql
../grupo_7_MundoMascotas/
../html
../index
../mercadoAbierto/.DS_Store
../mercadoAbierto/otraapp.js
../package-lock.json
../package.json
../proyectoAldo/
../proyectoFinal/
../repositorioProyectofinal/
../servidor
/*.DS_Store
/node_modules/
/bower_components/
/dist/
/tmp/
!flappy-bird-lio/